/* ////////////////homeblogs//////////////////////// */
  
.blogPreviewContainer{
  display: flex;
  background: rgb(247,247,247);
  margin-block: 10px;
  border-radius: 4px;
}

.blogPreviewContainer img{
  border-radius: 4px;
}

.blogPreviewContainer:hover{
  background: rgb(228, 228, 228);
}

/* ////////aboutus/////////// */

.container{
  min-height: 60vh;
}
.teamContainer{
  margin-top: 10%;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
}
/* /////login////// */
@media (min-width:1000px) {
.wContainer{
  margin-inline: 34%;
  width: 32%;
  margin-bottom: 4%;
}
}

/* ///writeblog/// */

.writeContainer{
  background: rgb(247,247,247);
}
@media (min-width:1000px) {
  .writeContainer{
    margin-inline: 24%;
    width: 52%;
    margin-bottom: 4%;
    margin-block: 4%;
  }
  }
/* //blogconntent/// */
  .contentContainer h2{
    margin-top: 4%;
    text-align: center;
  }

  .contentContainer p{
    min-height: 60vh;
  }
  
  /* ///// */
  a{
    text-decoration: none;
    color: rgb(0, 166, 204);
  }
  
  /* //allblogs// */
  .allBlogsContainer{
    margin-block:2%;
    min-height: 60vh;
  }
  .h{
    text-align: center;
    margin-top: 2%;
  }
  .hl{
    min-height: 60vh;
    text-align: center;
    margin-top: 2%;
  }
  
  /* //profiledetails// */
  
  .detailsContainer{
    margin-block: 4%;
    min-height: 60vh;
  }