/* ////////////////homeblogs//////////////////////// */
  
.blogPreviewContainer{
  display: flex;
  background: rgb(247,247,247);
  margin-block: 10px;
  border-radius: 4px;
}

.blogPreviewContainer img{
  border-radius: 4px;
}

.blogPreviewContainer:hover{
  background: rgb(228, 228, 228);
}

/* ////////aboutus/////////// */

.container{
  height: 60vh;
}
.teamContainer{
  margin-top: 10%;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
}
/* /////login////// */
@media (min-width:1000px) {
.wContainer{
  margin-inline: 34%;
  width: 32%;
  margin-bottom: 4%;
}
}

/* @media (min-width:1000px) {
.user{
  margin-left:800px
}
} */

/* ///writeblog/// */

.writeContainer{
  background: rgb(247,247,247);
}
@media (min-width:1000px) {
  .writeContainer{
    margin-inline: 24%;
    width: 52%;
    margin-bottom: 4%;
    margin-block: 4%;
  }
  }

  .contentContainer h2{
    text-align: center;
  }

  .contentContainer p{
    min-height: 60vh;
  }